* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1440px;
  margin: auto;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
header img {
  height: 50px;
}
header h1 {
  color: #D04F4F;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchbar .search {
  width: 95%;
  padding: 15px;
  background-color: #e7e7e7;
  border: none;
  height: 70px;
  border-radius: 5px;
  font-size: 25px;
}
.searchbar .search::placeholder {
  font-size: 25px;
  color: #b4b4b4;
}
.searchbar i {
  position: absolute;
  right: 50px;
  font-size: 27px;
}

.alert-message {
  animation: alertMessage 1s linear 0s;
}
.alert-message p {
  margin-left: 40px;
  font-size: 20px;
  background-color: aliceblue;
  width: 95%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 55px;
  column-gap: 45px;
  margin: 0 35px;
}
.recipes__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #C7BEBE;
}
.recipes__bg {
  background-color: #C7BEBE;
  height: 165px;
}
.recipes__head, .recipes__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 12px;
}
.recipes__head h2, .recipes__details h2 {
  font-weight: 200;
}
.recipes__head span, .recipes__details span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}
.recipes__head span i, .recipes__details span i {
  margin-right: 10px;
}
.recipes__details ul {
  padding-left: 0;
}
.recipes__details p {
  max-width: 130px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

@keyframes displayAlert {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.tags {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  width: 95%;
  margin-left: 15px;
}
.tags__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 22px;
  margin-top: 15px;
  border-radius: 5px;
  width: 9%;
}
.tags__item p {
  font-size: 15px;
  margin: 10px 15px;
  font-weight: 400;
}
.tags__item .btn_close {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-right: 10px;
}
.tags__item .btn_close i {
  color: #fff;
  font-size: 17px;
}
.tags .tags_ingredients {
  background-color: #3282f7;
}
.tags .tags_appareils {
  background-color: #68d9a4;
}
.tags .tags_ustensiles {
  background-color: #ed6454;
}

.filter {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 0 40px 38px;
}
.filter .filter-search {
  margin-right: 25px;
  position: relative;
}
.filter .filter-search input {
  padding: 20px 0 20px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.filter .filter-search input::placeholder {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.filter .filter-search .ingredients_input {
  background-color: #3282f7;
}
.filter .filter-search .appareils_input {
  background-color: #68d9a4;
}
.filter .filter-search .ustensiles_input {
  background-color: #ed6454;
}
.filter .filter-search .arrowDown {
  position: absolute;
  right: 10px;
  top: 19px;
  cursor: pointer;
}
.filter .filter-search .arrowDown i {
  color: #fff;
  font-weight: 900;
}
.filter .filter-search .dropdown {
  display: none;
  margin: 10px 0;
  padding-left: 12px;
}
.filter .filter-search .dropdown:not(.open) input:not(.open) ::placeholder {
  font-size: 16px;
}
.filter .filter-search.open {
  width: 50%;
}
.filter .filter-search.open .ingredients_input,
.filter .filter-search.open .appareils_input,
.filter .filter-search.open .ustensiles_input {
  width: 100%;
  padding-bottom: 25px;
  font-size: 20px;
}
.filter .filter-search.open .ingredients_input::placeholder,
.filter .filter-search.open .appareils_input::placeholder,
.filter .filter-search.open .ustensiles_input::placeholder {
  font-size: 19px;
}
.filter .filter-search.open .arrowDown {
  right: 30px;
  top: 20px;
}
.filter .filter-search.open .arrowDown i {
  transform: rotate(180deg);
}
.filter .filter-search.open .dropdown {
  margin-top: 0;
  width: 100%;
  position: absolute;
  top: 65px;
  column-width: 200px;
  padding-bottom: 15px;
  display: block;
}
.filter .filter-search.open .dropdown .list-item {
  padding-bottom: 15px;
  padding-left: 5px;
}
.filter .filter-search.open .dropdown .list-item a {
  color: #fff;
  font-size: 20px;
}
.filter .filter-search.open .dropdown .list-item:hover {
  transform: scale(1.025);
  font-weight: 900;
}
.filter .filter-search.open .ingredients_list {
  background-color: #3282f7;
}
.filter .filter-search.open .appareils_list {
  background-color: #68d9a4;
}
.filter .filter-search.open .ustensiles_list {
  background-color: #ed6454;
}

/*# sourceMappingURL=main.css.map */
