// ----- Colors ------//
$color-primary: #3282f7;
$color-secondary: #68d9a4;
$color-tertiary: #ed6454;
$color-bg: #e7e7e7;
$color-fond: #C7BEBE;
$color-title: #D04F4F;
$color-text: black;
$color-deco: #fff;

// ----- Maps -----//
$breakpoint: (
  tab: 720px,
  mobile: 375px,
  desktop: 1024px,
);
